.mobile-nav-wrapper {
    z-index: 1;
    width: 100%;
    display: flex;
    flex-direction: column;
    position: fixed;
    /* animate nav opening details start */
    opacity: 0;
    visibility: hidden;
    height: 0%;
    transition: opacity 0.75s, visibility 0.75s, height 0.75s;
    overflow: hidden;
}

.open {
    /*  animate nav opening details end */
    opacity: 1;
    visibility: visible;
    height: 100vh;
}
